In [1]:
import pandas as pd
import os,re,sys
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
os.chdir('C:/Users/RathoreA/Downloads/he_hdfc/DataSet/')

In [3]:
traindf=pd.read_csv('Train.csv')
testdf=pd.read_csv('Test.csv')
submissiondf=pd.read_csv('Sample_submission.csv')

c:\users\rathorea\appdata\local\continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (746,835) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\rathorea\appdata\local\continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (700,731,740,752,761,789,811,820,829,841,850) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
traindf.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [5]:
traindf.shape

(17521, 2395)

In [7]:
traindf.describe()

,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
count,17521.000000,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,1.752100e+04,...,17521.000000,17521.000000,17521.000000,17521.000000,16347.000000,16347.000000,16335.000000,16347.00000,16347.000000,16335.000000
mean,0.100508,3.158967e+04,2.046540e+04,2.502937e+04,2.789385e+04,2.597734e+04,3.302600e+04,2.912693e+04,2.971069e+04,3.617392e+04,...,0.736202,0.595343,0.773757,0.639005,55.540038,55.015416,35.180961,17.99584,17.539977,10.359657
std,0.300685,7.612897e+05,7.136908e+05,6.018207e+05,6.091245e+05,7.211998e+05,7.488433e+05,2.175595e+05,2.981508e+05,2.612427e+05,...,0.910828,0.784953,0.921805,0.806286,53.269618,52.697069,34.956016,24.83891,24.685954,18.476447
min,0.000000,-8.555719e+07,-8.555719e+07,-7.011955e+07,-7.100920e+07,-8.480658e+07,-9.016250e+07,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.000000,2.742337e+03,2.007863e+03,1.857013e+03,2.562647e+03,2.973188e+03,3.822170e+03,1.824148e+03,1.787456e+03,3.505288e+03,...,0.000000,0.000000,0.000000,0.000000,21.000000,21.000000,12.000000,9.00000,9.000000,5.000000
50%,0.000000,9.308060e+03,6.642857e+03,6.236503e+03,8.464355e+03,1.036962e+04,1.303534e+04,5.705458e+03,5.536147e+03,8.832639e+03,...,0.000000,0.000000,0.000000,0.000000,42.000000,42.000000,27.000000,13.00000,13.000000,7.000000
75%,0.000000,3.053873e+04,2.156093e+04,2.068154e+04,2.773849e+04,2.645998e+04,3.359204e+04,1.852222e+04,1.753976e+04,2.341911e+04,...,1.000000,1.000000,1.000000,1.000000,74.000000,73.000000,47.000000,21.00000,21.000000,12.000000
max,1.000000,1.459355e+07,1.288980e+07,1.478068e+07,1.178075e+07,1.879882e+07,1.514035e+07,1.125630e+07,2.788633e+07,1.314762e+07,...,4.000000,4.000000,4.000000,4.000000,1305.000000,1305.000000,1211.000000,2205.00000,2205.000000,1831.000000

In [41]:
def nullvaluesfinder(df):
    nullcolumns=df.columns[df.isnull().any()].tolist()
    nullcoldf=pd.DataFrame(df[nullcolumns].isnull().sum()/len(df)*100).reset_index()
    nullcoldf.columns=['colname','missingpercentage']
    return nullcoldf

In [42]:
nullcoldf=nullvaluesfinder(traindf)
#nullcolumns=traindf.columns[traindf.isnull().any()].tolist()
#nullcoldf=pd.DataFrame(traindf[nullcolumns].isnull().sum()/len(traindf)*100).reset_index()
#nullcoldf.columns=['colname','missingpercentage']

In [43]:
nullcoldf.head()

  colname  missingpercentage
0   Col13           7.128589
1   Col14           7.100051
2   Col15           7.111466
3   Col16           7.094344
4   Col17           8.389932

In [44]:
columns2bedeleted=nullcoldf[nullcoldf['missingpercentage']>=50]['colname'].tolist()

In [45]:
# dropping columns

columns2bekept=[col for col in traindf.columns if col not in columns2bedeleted]

In [46]:
traindf2=traindf[columns2bekept]

In [49]:
nullvaluesfinder(traindf2).shape,traindf2.shape

((537, 2), (17521, 2173))

In [50]:
nullvaluesfinder(traindf2)

     colname  missingpercentage
0      Col13           7.128589
1      Col14           7.100051
2      Col15           7.111466
3      Col16           7.094344
4      Col17           8.389932
5      Col18          16.323269
6      Col21           7.082929
7      Col22           7.100051
8      Col23           7.094344
9      Col24           7.111466
10     Col27           3.892472
11     Col42          10.113578
12     Col43          10.124993
13     Col92           8.110268
14     Col93          10.655784
15     Col94          19.644997
16     Col95          35.956852
17     Col96          24.239484
18     Col98          29.199247
19    Col100          34.141887
20    Col101          32.412534
21    Col102          40.243137
22    Col103          42.982706
23    Col104          45.727984
24    Col106           8.115975
25    Col107          10.752811
26    Col108          22.179099
27    Col109          36.179442
28    Col110          27.886536
29    Col112          33.725244
..       ...                ...
507   Col898          11.089550
508   Col899          11.089550
509   Col900          11.089550
510   Col901          11.089550
511   Col902          21.665430
512   Col903          26.020204
513   Col904          17.362023
514   Col905          17.362023
515   Col906          17.362023
516   Col907          17.362023
517   Col908          17.362023
518   Col909          17.362023
519   Col910          17.362023
520   Col911          38.713544
521   Col912          35.134981
522   Col913          10.946864
523   Col914          11.089550
524   Col915          17.362023
525   Col916           6.706238
526   Col921           6.706238
527   Col926           6.917413
528   Col931           7.111466
529   Col932           7.117174
530   Col933           7.710747
531  Col2392           6.700531
532  Col2393           6.700531
533  Col2394           6.769020
534  Col2395           6.700531
535  Col2396           6.700531
536  Col2397           6.769020

[537 rows x 2 columns]